In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
movies = pd.read_csv('movies_metadata.csv', encoding='cp1252')

In [17]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862.0,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050.0,tt6209470,fa,ýýýý ýýýýýýýý,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'ï¿½ï¿½ï¿½ï¿½ï",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109.0,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,11/17/2011,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758.0,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,8/1/2003,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506.0,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,10/21/1917,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257.0,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,6/9/2017,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [18]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [19]:
movies.adult.value_counts()

False    45457
True         9
Name: adult, dtype: int64

In [20]:
movies[movies['adult'] == ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.']

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [21]:
movies.iloc[2953]

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...
homepage                                  http://www.banzai-institute.com/
id                                                                 11379.0
imdb_id                                                          tt0086856
original_language                                                       en
original_title           The Adventures of Buckaroo Banzai Across the 8...
overview                 Adventurer/surgeon/rock musician Buckaroo Banz...
popularity                                                        7.778445
poster_path                               /zaIvuZWPtmyQvsYMeLtox4vTlD2.jpg
production_companies        [{'name': 'Sherwood Productions', 'id': 8791}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                     8/15/1984
revenue                                                                0.0
runtime                                                              103.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Beings from Another Dimension have invaded you...
title                    The Adventures of Buckaroo Banzai Across the 8...
video                                                                False
vote_average                                                           6.3
vote_count                                                           103.0
Name: 2953, dtype: object

In [22]:
movies.at[29503, 'adult']

False

In [24]:
movies[movies['adult'] ==' - Written by Ørnås']

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [27]:
movies['belongs_to_collection'].value_counts()

{'id': 415931, 'name': 'The Bowery Boys', 'poster_path': '/q6sA4bzMT9cK7EEmXYwt7PNrL5h.jpg', 'backdrop_path': '/foe3kuiJmg5AklhtD3skWbaTMf2.jpg'}                  29
{'id': 421566, 'name': 'Totï¿½ï¿½ Collection', 'poster_path': '/4ayJsjC3djGwU9eCWUokdBWvdLC.jpg', 'backdrop_path': '/jaUuprubvAxXLAY5hUfrNjxccUh.j                 27
{'id': 645, 'name': 'James Bond Collection', 'poster_path': '/HORpg5CSkmeQlAolx3bKMrKgfi.jpg', 'backdrop_path': '/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg'}                26
{'id': 96887, 'name': 'Zatï¿½ï¿½ichi: The Blind Swordsman', 'poster_path': '/8Q31DAtmFJjhFTwQGXghBUCgWK2.jpg', 'backdrop_path': '/bY8gLImMR5Pr9PaG3ZpobfaAQ8N.j    26
{'id': 37261, 'name': 'The Carry On Collection', 'poster_path': '/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg', 'backdrop_path': '/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg'}           25
                                                                                                                                                                   ..
{'id': 147207, 'name': 'Glass Tiger collection', 'poster_path': '/f8h1V44zKFOFuW4DF56oV5ENu5r.jpg', 'backdrop_path': '/ehLhVlA5riW7xYTmefb7Hqf0hMd.jpg'}            1
{'id': 260520, 'name': 'Kathleen Madigan Collection', 'poster_path': None, 'backdrop_path': None}                                                                   1
{'id': 268014, 'name': 'The Big Bottom Box', 'poster_path': '/5i9awYAZqAAleGx8JFTVZILnXMx.jpg', 'backdrop_path': None}                                              1
{'id': 479549, 'name': 'Josï¿½ï¿½phine - Saga', 'poster_path': '/yxp6kDbIAbDzyoUkAONISnc2Zfj.jpg', 'backdrop_path': '/29ETFnPUNcsH9r7MflZ3Op0APJi.j                 1
{'id': 200641, 'name': 'Red Lotus Collection', 'poster_path': '/yf9Eod9ANXyHTzDpAxz9ezgvlL4.jpg', 'backdrop_path': '/3fhHbLeO3DqdHvgHg5szs399eBb.jpg'}              1
Name: belongs_to_collection, Length: 1695, dtype: int64

In [29]:
for col in movies.columns:
    print(col)
    print(movies[col].value_counts())

adult
False    45457
True         9
Name: adult, dtype: int64
belongs_to_collection
{'id': 415931, 'name': 'The Bowery Boys', 'poster_path': '/q6sA4bzMT9cK7EEmXYwt7PNrL5h.jpg', 'backdrop_path': '/foe3kuiJmg5AklhtD3skWbaTMf2.jpg'}                  29
{'id': 421566, 'name': 'Totï¿½ï¿½ Collection', 'poster_path': '/4ayJsjC3djGwU9eCWUokdBWvdLC.jpg', 'backdrop_path': '/jaUuprubvAxXLAY5hUfrNjxccUh.j                 27
{'id': 645, 'name': 'James Bond Collection', 'poster_path': '/HORpg5CSkmeQlAolx3bKMrKgfi.jpg', 'backdrop_path': '/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg'}                26
{'id': 96887, 'name': 'Zatï¿½ï¿½ichi: The Blind Swordsman', 'poster_path': '/8Q31DAtmFJjhFTwQGXghBUCgWK2.jpg', 'backdrop_path': '/bY8gLImMR5Pr9PaG3ZpobfaAQ8N.j    26
{'id': 37261, 'name': 'The Carry On Collection', 'poster_path': '/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg', 'backdrop_path': '/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg'}           25
                                                                                                                                                                   ..
{'id': 147207, 'name': 'Glass Tiger collection', 'poster_path': '/f8h1V44zKFOFuW4DF56oV5ENu5r.jpg', 'backdrop_path': '/ehLhVlA5riW7xYTmefb7Hqf0hMd.jpg'}            1
{'id': 260520, 'name': 'Kathleen Madigan Collection', 'poster_path': None, 'backdrop_path': None}                                                                   1
{'id': 268014, 'name': 'The Big Bottom Box', 'poster_path': '/5i9awYAZqAAleGx8JFTVZILnXMx.jpg', 'backdrop_path': None}                                              1
{'id': 479549, 'name': 'Josï¿½ï¿½phine - Saga', 'poster_path': '/yxp6kDbIAbDzyoUkAONISnc2Zfj.jpg', 'backdrop_path': '/29ETFnPUNcsH9r7MflZ3Op0APJi.j                 1
{'id': 200641, 'name': 'Red Lotus Collection', 'poster_path': '/yf9Eod9ANXyHTzDpAxz9ezgvlL4.jpg', 'backdrop_path': '/3fhHbLeO3DqdHvgHg5szs399eBb.jpg'}              1
Name: belongs_to_collection, Length: 1695, dtype: int64
budget
0            36576
5000000        286
10000000       259
20000000       243
2000000        242
             ...
270000000        1
923              1
72500000         1
2160000          1
1254040          1
Name: budget, Length: 1223, dtype: int64
genres
[{'id': 18, 'name': 'Drama'}]                                                                                                                                                                          5000
[{'id': 35, 'name': 'Comedy'}]                                                                                                                                                                         3621
[{'id': 99, 'name': 'Documentary'}]                                                                                                                                                                    2723
[]                                                                                                                                                                                                     2442
[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]                                                                                                                                        1301
                                                                                                                                                                                                       ...
[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'name': 'Crime'}, {'id': 9648, 'name': 'Mystery'}, {'id': 10749, 'name': 'Romance'}, {'id': 53, 'name': 'Thriller'}]                                            1
[{'id': 12, 'name': 'Adventure'}, {'id': 16, 'name': 'Animation'}, {'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]                                           1
[{'id': 9648, 'name': 'Mystery'}, {'id': 18, 'name': 'Drama'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 53, 'name': 'Thriller'}, {'id': 27, 'name': 'Horror'}]       1
[{'id': 37, 'name': 'Western'}, {'id': 10402, 'name': 'Music'}]                                                                                                                                           1
[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]                                                                        1
Name: genres, Length: 4066, dtype: int64
homepage
http://www.georgecarlin.com                      12
http://www.wernerherzog.com/films-by.html         7
http://breakblade.jp/                             6
http://www.kungfupanda.com/                       4
http://www.thehungergames.movie/                  4
                                                 ..
http://www.theperfectgamemovie.com                1
http://www.arthurchristmas.com/                   1
http://happyfeettwo.warnerbros.com/index.html     1
http://rampartmovie.com/                          1
http://www.imdb.com/title/tt6209470/              1
Name: homepage, Length: 7670, dtype: int64
id
141971.0    3
5511.0      2
132641.0    2
10991.0     2
168538.0    2
           ..
55135.0     1
15877.0     1
72272.0     1
1549.0      1
461257.0    1
Name: id, Length: 45433, dtype: int64
imdb_id
tt1180333    3
tt0127834    2
tt2121382    2
tt0157472    2
tt0446676    2
            ..
tt0324242    1
tt0090206    1
tt0383846    1
tt1056437    1
tt6980792    1
Name: imdb_id, Length: 45417, dtype: int64
original_language
en    32270
fr     2438
it     1529
ja     1350
de     1080
      ...
ay        1
rw        1
cy        1
tg        1
si        1
Name: original_language, Length: 89, dtype: int64
original_title
ýýýýýýýýýýýý             428
ýýýýýýýýý                257
ýýýýýý                   230
ýýýýýýýýýýýýýýý          206
ýýýýýýýýýýýýýýýýýý       174
                        ...
The Slender Thread         1
Accident On Hill Road      1
Tennessee                  1
The Last Airbender         1
Queerama                   1
Name: original_title, Length: 41036, dtype: int64
overview
No overview found.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    133
No Overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             7
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        5
Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.                                                                                                                                                                                                                                                                                                                                  3
A few funny little novels about different aspects of life.                                                                                                                                                                                                                                                                                                                                                                                                                                              3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ...
We are in the year 1871. A journalist for Versailles Television broadcasts a soothing and official view of events while a Commune television is set up to provide the perspectives of the Paris rebels. On a stage-like set, more than 200 actors interpret characters of the Commune, especially the Popincourt neighbourhood in the XIth arrondissement. They voice their own thoughts and feelings concerning the social and political reforms. The scenes consist mainly of long camera takes.      1
A kindergarten director Troshkin is a dead ringer for a criminal nicknamed "Docent" who stole the priceless...                                                                                                                                                                                                                                                                                                                                                                                          1
A man wakes up deep inside a cave. Suffering amnesia, he has no recollection of how he came to be here or of what happened to the man whose body he finds beside him. Tailed by a mysterious creature, he must continue through this strange and fantastic world. Enclosed, Tolbiac has no other option to reach the surface than to use REZO ZERO, secret observing cells in this cemetery-like abandoned mine.                                                                                        1
After Amy convinces Nicole to kill her abusive husband, Nicole travels to her on-line friend's home -- only to find Amy's own abused spouse, Chandler. And he's got blood on his hands, too. TRAP is a painfully funny look inside love, marriage, and body disposal.                                                                                                                                                                                                                                   1
50 years after decriminalisation of homosexuality in the UK, director Daisy Asquith mines the jewels of the BFI archive to take us into the relationships, desires, fears and expressions of gay men and women in the 20th century.                                                                                                                                                                                                                                                                     1
Name: overview, Length: 44309, dtype: int64
popularity
0.000000    66
0.000001    56
0.000308    43
0.000220    40
0.001177    38
            ..
6.173752     1
0.645652     1
0.556292     1
0.914133     1
0.163015     1
Name: popularity, Length: 43760, dtype: int64
poster_path
/5D7UBSEgdyONE6Lql6xS7s6OLcW.jpg    5
/qW1oQlOHizRHXZQrpkimYr0oxzn.jpg    4
/2kslZXOaW0HmnGuVPCnQlCdXFR9.jpg    4
/cdwVC18URfEdQjjxqJyRMoGDC0H.jpg    3
/8VSZ9coCzxOCW2wE2Qene1H1fKO.jpg    3
                                   ..
/cFEFSq05bWXP0WhHWwpsbailJkl.jpg    1
/gDn14D7YuK4u2VPVzjg3510yV7C.jpg    1
/hy51EWjDmVmq4TO7GD542GLhux6.jpg    1
/tZhTYAs3rE3fmtz4XtLCAWzuwZ9.jpg    1
/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg    1
Name: poster_path, Length: 45023, dtype: int64
production_companies
[]                                                                                                                                                                                                                                                                                                                                    11875
[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}]                                                                                                                                                                                                                                                                                     742
[{'name': 'Warner Bros.', 'id': 6194}]                                                                                                                                                                                                                                                                                                  540
[{'name': 'Paramount Pictures', 'id': 4}]                                                                                                                                                                                                                                                                                               505
[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]                                                                                                                                                                                                                                                                         439
                                                                                                                                                                                                                                                                                                                                      ...
[{'name': 'Grand Army Entertainment', 'id': 1843}, {'name': 'Larry Levinson Productions', 'id': 3282}, {'name': 'Alpine Medien Productions', 'id': 3693}, {'name': 'RHI Entertainment', 'id': 20358}]                                                                                                                                     1
[{'name': 'Dimension Films', 'id': 7405}, {'name': 'Spectacle Entertainment Group', 'id': 10370}, {'name': 'Trancas International Films', 'id': 15822}]                                                                                                                                                                                   1
[{'name': 'HBO Films', 'id': 7429}, {'name': 'Moving Pictures', 'id': 15888}]                                                                                                                                                                                                                                                             1
[{'name': 'BIM Distribuzione', 'id': 225}, {'name': 'Canal+', 'id': 5358}, {'name': 'Alta Producciï¿½ï¿½n', 'id': 10011}, {'name': 'Centre National de la Cinï¿½ï¿½matographie (CNC)', 'id': 18367}, {'name': 'Rï¿½ï¿½zo Productions', 'id': 30231}, {'name': 'Compagnie Eric Rohmer (CER)', 'id': 30232}, {'name': 'Cinï¿½ï¿½mage        1
[{'name': 'Yermoliev', 'id': 88753}]                                                                                                                                                                                                                                                                                                      1
Name: production_companies, Length: 22707, dtype: int64
production_countries
[{'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                                          17851
[]                                                                                                                                                                   6282
[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]                                                                                                                     2238
[{'iso_3166_1': 'FR', 'name': 'France'}]                                                                                                                             1654
[{'iso_3166_1': 'JP', 'name': 'Japan'}]                                                                                                                              1356
                                                                                                                                                                    ...
[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'iso_3166_1': 'ZA', 'name': 'South Africa'}]                                                                               1
[{'iso_3166_1': 'RO', 'name': 'Romania'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'CA', 'name': 'Canada'}]                                       1
[{'iso_3166_1': 'FI', 'name': 'Finland'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'NL', 'name': 'Netherlands'}]                                         1
[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DK', 'name': 'Denmark'}, {'iso_3166_1': 'ES', 'name': 'Spain'}, {'iso_3166_1': 'SE', 'name': 'Sweden'}]        1
[{'iso_3166_1': 'EG', 'name': 'Egypt'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]                                1
Name: production_countries, Length: 2391, dtype: int64
release_date
1/1/2008      136
1/1/2009      121
1/1/2007      118
1/1/2005      111
1/1/2006      101
             ...
8/1/1949        1
9/26/1957       1
11/21/1938      1
8/19/1936       1
10/21/1917      1
Name: release_date, Length: 17334, dtype: int64
revenue
0.0           38052
12000000.0       20
11000000.0       19
10000000.0       19
2000000.0        18
              ...
36565280.0        1
439564.0          1
35610100.0        1
10217873.0        1
1413000.0         1
Name: revenue, Length: 6863, dtype: int64
runtime
90.0     2556
0.0      1558
100.0    1470
95.0     1412
93.0     1214
         ...
410.0       1
283.0       1
238.0       1
566.0       1
780.0       1
Name: runtime, Length: 353, dtype: int64
spoken_languages
[{'iso_639_1': 'en', 'name': 'English'}]                                                                                                                                                                                           22397
[]                                                                                                                                                                                                                                  3829
[{'iso_639_1': 'fr', 'name': 'Franï¿½ï¿½ai                                                                                                                                                                                          1853
[{'iso_639_1': 'ja', 'name': 'ï¿½ï¿½ï¿½ï¿½                                                                                                                                                                                          1290
[{'iso_639_1': 'it', 'name': 'Italiano'}]                                                                                                                                                                                           1218

In [31]:
movies.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.546600e+04,45463.000000,45463.000000,4.546000e+04,45206.000000,45463.000000,45463.000000
mean,4.224300e+06,108359.918813,2.921378,1.120935e+07,94.127572,5.618217,109.890856
std,1.742359e+07,112460.749278,6.005234,6.433225e+07,38.406803,1.924174,491.294816
min,0.000000e+00,2.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,0.000000e+00,26449.500000,0.385945,0.000000e+00,85.000000,5.000000,3.000000
50%,0.000000e+00,60003.000000,1.127757,0.000000e+00,95.000000,6.000000,10.000000
75%,0.000000e+00,157328.000000,3.678588,0.000000e+00,107.000000,6.800000,34.000000
max,3.800000e+08,469172.000000,547.488298,2.787965e+09,1256.000000,10.000000,14075.000000

In [32]:
movies.isnull().sum()

adult                        0
belongs_to_collection    40975
budget                       0
genres                       3
homepage                 37687
id                           3
imdb_id                     19
original_language           13
original_title               0
overview                   954
popularity                   3
poster_path                387
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    260
spoken_languages             3
status                      84
tagline                  25054
title                        4
video                        5
vote_average                 3
vote_count                   3
dtype: int64